.btn-back {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.btn-back > img:hover {
    opacity: .7;
    transition: all .3s;
}

.btn-back > img {
    width: 18px;
    opacity: .5;
}

@media print {
    .btn-back {
        display: none;
    }
}
