.contentWrapper {
  width: calc(100vw - 166px);
  padding: 32px;
  overflow-y: auto;
}

.schemaHeader {
  display: flex;
  flex-direction: row;
  gap: var(--space);
}

.schemaName {
  padding-top: 32px;
  font-size: 2.5rem;
}

.schemaShortInfo {
  display: flex;
  justify-content: flex-start;
  gap: var(--space);
  margin-top: 16px;
}

.schemaShortInfo > div {
  font-size: 1.3rem;
}


.schemaMainInfo {
  padding-top: calc(var(--space) * 2);
  padding-left: calc(var(--space) * 3);
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 2);
}

.innerSchemasName {
  font-size: 1.75rem;
}

.innerSchemas {
  display: flex;
  flex-direction: row;
  gap: var(--space);

  margin-top: var(--space);
}

.schemaContents {
  margin-top: var(--space);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: calc(var(--space) * 2);
}

.schemaContents > div {
  /* display: grid; */
  /* grid-template-columns: 7fr 3fr; */
  /* gap: var(--space); */
  padding: var(--space);
  border: 0px solid transparent;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.schemaContents textarea {
  outline: none;
  border: none;
  resize: none;
  font-size: 1.5rem;
  width: 100%;
}

.schemaContents textarea:last-child {
  font-size: 1.15rem;
  padding-bottom: calc(var(--space) * 2);
}

.schemaContents::marker {
  font-size: 1.5rem;
}

.stepCard {
  position: relative;
}

.stepCard > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--space);
  gap: var(--space);
}

div .stepIndex {
  position: absolute;
  right: var(--space);
  bottom: var(--space);
  font-size: 3.5rem;
  opacity: 0.6;
  color: var(--color-strong-purple);
  margin-bottom: 0;
}

div .controlsWrapper {
  position: absolute;
  margin-bottom: 0;

  left: var(--space);
  bottom: var(--space);
  display: flex;
  flex-direction: row;
  gap: var(--space);
}



.cardPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--space)*2);
  height: calc(100% - var(--space)*2);
  border-radius: 15px;
  padding: var(--space);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
}

