@media print {
  @page { 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .grid * {
    min-width: 140px;
  }
  .grid-container_body > div {
    height: 140px;
    overflow: hidden;
    /* word-break: break-all; */
  }
  .section button {
    display: none;
  }
  .protocol_name {
    height: 200px;
  }
  .subscriptionsSection {
    display: flex !important;
    /* margin-left: 900px; */
    width: 900px !important;
    flex-direction: flex-end;
    margin-bottom: 0 !important;
  }
}

.loading {
  display: inline-block;
  margin: 2rem auto 0 auto;
  text-align: center;
  clip-path: inset(0 3ch 0 0);
  animation: l 2s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.section h1,
.section h2 {
  margin-bottom: 1rem;
}
.section {
  width: calc(100vw - 250px);
  margin: 0 2rem;
}
.section.super-engineer input,
.section.super-engineer label {
  pointer-events: none;
}

.protocol_name {
  max-width: 1000px;
}

.serial_number {
  font-size: 1.71rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.check-all-btn {
  display: block;
}

.header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* max-height: 200px; */
}

.col-1 {
  grid-area: col-1;
}
.col-2 {
  grid-area: col-2;
}
.col-3 {
  grid-area: col-3;
}
.col-4 {
  grid-area: col-4;
}
.col-5 {
  grid-area: col-5;
}
.col-6 {
  grid-area: col-6;
}
.col-check {
  grid-area: col-check;
}
.col-fix {
  grid-area: col-check;
}

.grid {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr;
}
.grid > div {
  overflow: hidden;
}
.grid > * {
  padding: 5px;
  border: 1px solid var(--color-main-border);
}
.grid-container_header {
  grid-template-areas:
    "col-1 col-2 col-2 col-5 col-6 col-check"
    "col-1 col-3 col-4 col-5 col-6 col-check";
}
.grid-container_body {
  margin-bottom: 2rem;
}
.btns-section {
  display: flex;
  justify-content: space-between;
}
.btns-section button {
  margin-right: 1rem;
}

.subscriptionsSection {
  display: none;
  width: calc(100vw - 250px);
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.subscriptionsSection > h3 {
  /* max-height: 20px; */
}

.subscritpionUnderline {
  min-width: 100px;
  width: 200px;
  border-bottom: 1px solid black;
}

.subscriptionsSection > div {
  display: flex;
  flex-direction: column;
}