* {
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    line-height: 1.15;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

:root {
    --color-light-purple: #E9EEFF;
    --color-strong-purple: #4452D0;
    --color-main-black: #000000;
    --color-main-white: #FFFFFF;
    --color-main-border: #181820;
    --color-main-gray: #A0A0A6;
    --color-light-gray: #E9EEFF;
    --color-strong-orange: rgba(233, 80, 14, .8);
    --color-light-orange:rgba(233, 80, 14, .6);

    --space: 1.5rem;

    --shadow-color: #ccc;
    --shadow-dark-color: #aaa;

    --shadow: 2px 2px 6px var(--shadow-color);
    --moved-shadow: 2px 2px 6px var(--shadow-color);
    --hight-shadow: 7px 7px 10px var(--shadow-dark-color);
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 2.57rem;
}

h2 {
    font-size: 1.71rem;
}

h3 {
    font-size: 1.29rem;
}
