.button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    /* background-color: var(--color-light-purple); */
    transform: scale(1.1);
}

@media print {
    .button {
        display: none;
    }
}
